
* {
    margin: 0;
    padding: 0;
}

/* styles to apply to body */

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 100%;
    background-color: #fff;
    border: solid;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.card-header {
    background-color: #d61c1c;
    height: 120px;
    margin-bottom: 60px;
}

.card-body {
    padding: 25px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    border: solid;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}
.cr7 {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.leopessi {
    display: flex;
    justify-content: center;
    padding: 25px;
}