<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/style.css')}}" />
</head>

<body>
    <header class="cabezote">
        <div class="top">
            <div class="contenedor">
                <div class="logo">
                    <h1><a href="/">ONLY FOOTBALL</a></h1>
                </div>
                <nav class="bmenu">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/categorias">Categorias</a></li>
                        <li><a href="/oferta">Ofertas</a></li>
                        <li><a href="/conocenos">Conocenos</a></li>
                        <li><a href="/cuenta">Cuenta</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="caja-video">
            <video autoplay muted loop poster="{{url_for('static', filename='/img-fondos/img-conocenos.mp4')}}">
                <source src="{{url_for('static', filename='/img-fondos/img-conocenos.mp4')}}" />
            </video>
        </div>
        <main class="slider-tamaño">
            <a href="{{url_for('static', filename='/perfiles/claudio/index.html')}}">
                <div class="cardi">
                    <img src="{{url_for('static', filename='/img-perfiles/claudio.png')}}" alt="" />
                    <h2>Claudio Pincheira</h2>
                    <p>
                        Hola soy Claudio tengo 18 años,estoy estudiando Tecnico en
                        Programacion y este es mi segundo proyecto.
                    </p>
                </div>
            </a>
            <a href="{{url_for('static', filename='/perfiles/geraldine/index.html')}}">
                <div class="cardi">
                    <img src="{{url_for('static', filename='/img-perfiles/geraldine.png')}}" alt="" />
                    <h2>Geraldine Maturana</h2>
                    <p>
                        Hola soy Geraldine tengo 18 años,estoy estudiando Tecnico en
                        Programacion y este es mi segundo proyecto.
                    </p>
                </div>
            </a>
            <div class="monitor">
                <h5>CONOCENOS</h5>
                <p>
                    En ONLY FOOTBALL, nos dedicamos a  
                    la venta de articulos deportivos. Fundada en
                    2024, nuestra misión es proporcionar productos y servicios de alta
                    calidad que superen las expectativas.
                </p>
                <h5>NUESTROS VALORES</h5>
                <p>
                    Integridad: Actuamos con honestidad y transparencia en todas
                    nuestras interacciones.
                </p>
                <p>
                    Innovación: Buscamos constantemente nuevas formas de mejorar y
                    adaptarnos a las necesidades del mercado
                </p>
                <p>
                    Compromiso: Estamos dedicados a brindar el mejor servicio posible al cliente.
                </p>

                <div class="elnine">
                    <p>
                        Arturo Matte larrain
                    </p>
                    <p>
                        only.football@gmail.com
                    </p>
                </div>
            </div>
        </main>
    </header>
</body>

</html>